.menu-card-Wrper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 40px;
    margin: 70px 0;
}





.menu-card-Wrper>div {
    width: 100%;
    height: 380px;
    transition: .8s;
}

.menu-card-Wrper>div:hover {
    transform: rotate(-3deg) scale(.9);
}



.menu-card-Wrper>div:first-child {
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url('../images/gallery1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-card-Wrper>div:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url('../images/gallery3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-card-Wrper>div:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url('../images/gallery4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-card-Wrper>div:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url('../images/gallery5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-card-Wrper>div:nth-child(5) {
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url('../images/gallery6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-card-Wrper>div:nth-child(6) {
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url('../images/gallery2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-card-Wrper>div:nth-child(8) {
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url('../images/gallery7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-card-Wrper>div:nth-child(7) {
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url('../images/gallery4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-card-Wrper>div:last-child {
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url('../images/desertitem.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}






@media (max-width:1024px) {
    .menu-card-Wrper {
        grid-template-columns: 1fr 1fr;
    }

    .menu-card-Wrper>div {
        height: 250px;
    }
}

@media (max-width:768px) {
    .menu-card-Wrper {
        grid-template-columns: 1fr;
    }

    .menu-card-Wrper>div {
        height: 250px;
    }
}